<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products list</title>
    <style>
      ul > li {
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome!</h1>

    <a href="/create">Create new product</a>

    {% if messages %}
    <div style="display: flex; margin: 20px 0">
      {% for message in messages %}
      <p
        style="
            color: {% if message.tags == 'error' %}red{% else %}green{% endif %};
            margin: 0 4px 0 0;
        "
      >
        {{ message }}
      </p>
      {% endfor %}
      <button onclick="this.parentElement.style.display='none';">
        Dismiss
      </button>
    </div>
    {% endif %}

    <h2>Products list</h2>

    <ul>
      {% if products %} {% for product in products %}
      <li>
        <span><b>Name:</b></span> {{ product.name }} <br />
        <span><b>Price:</b></span> {{ product.price }} <br />
        {% if product.description %}
        <span><b>Description:</b></span>
        {{ product.description }} <br />
        {% endif %}
        <a
          stlye="margin-right: 10px; color: blue;"
          href="/update/{{ product.id }}"
          >Edit</a
        >
        <a
          style="color: red"
          href="/delete/{{ product.id }}"
          >Delete</a
        >
      </li>
      {% endfor %} {% else %}
      <li>No products found</li>
      {% endif %}
    </ul>
  </body>
</html>
